#game {
    display: flex;
    justify-content: space-around;
}

#rules {
    background-color: #f0f0f0; /* light gray */
    padding: 20px;
    margin-bottom: 20px;
}

#rules h2 {
    color: #333; /* dark gray */
}

#rules p {
    color: #666; /* medium gray */
}

#game div {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    width: 20px;
    height: 120px;
    border: 1px solid black;
}

#game div div {
    height: 20px;
    margin-top: 5px;
    background-color: blue;
}
